.phi-intro-desc a { color: var(--charc); }
specialobj .codebox span { height: auto; display: inline; }

img.kit-img { background: var(--bg2); border: 1px solid var(--bg4); width: 100px; height: 100px; padding: 10px; border-radius: 6px; outline: 6px solid var(--charc); margin-left: 6px; }
kitjuego { display: flex; align-items: center; background: var(--bg1); border: var(--border); border-radius: 10px; padding: 10px; }
kititem img { width: 42px; background: var(--bg3); padding: 5px; border-radius: 4px; border: 1px solid var(--bg4); }
kititem { display: flex; align-items: center; margin: 3px 3px; background: var(--bg4); padding: 3px; border-radius: 6px; width: 83px; }
kititems { display: flex; flex-wrap: wrap; justify-content: space-evenly; }
kititem strong { background: var(--charc); padding: 2px 4px; border-radius: 4px; color: var(--accent2)!important; margin-left: -6px; }

.phiada-shop ul.tabBlock-tabs li:nth-of-type(4) i {
    margin-left: 22px;
    margin-top: 4px;
}
.phiada-shop ul.tabBlock-tabs li:nth-of-type(2) i {
    margin-left: 23px;
}
.phiada-shop ul.tabBlock-tabs li:nth-of-type(4) i {
    margin-left: 26px;
}
.phiada-shop ul.tabBlock-tabs li:nth-of-type(2):after {
    content: '';
    height: 81px;
    width: 1px;
    background: var(--grad2);
    position: absolute;
    right: 9px;
    margin-top: 30px;
}
.reorg-obj objetito img {
    margin-right: 0;
    margin-bottom: 10px;
    width: 47px;
}
.reorg-obj objetito {
    width: 12%;
    display: flex;
    justify-content: center;
}
.objetos-body admnaumento strong { color: var(--accent1); }
.objetos-body admnaumento { display: block; margin-bottom: 34px; }
.phi-intro-minititle i { color: var(--accent2); background-image: var(--grad2); -webkit-background-clip: text; color: transparent; background-clip: text; font-size: 25px; position: absolute; margin-top: -3px; margin-left: -30px; }
.phi-intro-minititle { background: var(--charc); color: var(--text1); font-family: poppins; padding: 10px; border-radius: 6px; margin-bottom: -6px; text-transform: uppercase; letter-spacing: 1px; font-weight: 600; padding-left: 40px; }
.phiada-shop craft em { font-style: normal; padding-right: 20px; }
.phiada-shop craftnec { color: var(--text2); }
.phiada-shop craft i { font-size: 16px; color: var(--accent3); font-weight: 700; }
.phiada-shop .phi-intro-desc b { background: var(--grad1); padding: 2px; border-radius: 3px; }
.phiada-shop .phi-intro-desc strong { font-family: montserrat; color: var(--accent3); }

b.shop-title i { font-size: 14px; color: var(--text2); font-style: normal; position: relative; top: -5px; left: 8px; font-weight: lighter; font-family: segoe ui; }
specialobj obprecio b { border-radius: 5px; }
.phiada-shop ul.tabBlock-tabs li:nth-of-type(1):after { content: ''; height: 81px; width: 1px; background: var(--grad2); position: absolute; right: 9px; margin-top: 30px; }
.phiada-shop ul.tabBlock-tabs li i { position: absolute; color: var(--text2); margin-left: 20px; font-size: 20px; margin-top: 0px; }
.phiada-shop obprecio b:nth-of-type(1) { margin-right: 6px; }
.nested-links a { background: var(--charc2); color: var(--text1); padding: 2px 4px; border-radius: 3px; margin: 2px 3px; }
.phiada-shop ul.tabBlock-tabs li:nth-of-type(1) { margin-bottom: 96px!important; }
.phiada-shop ul.tabBlock-tabs li:nth-of-type(2) { margin-bottom: 69px!important; }
.nested-links { display: flex; flex-wrap: wrap; justify-content: flex-end; position: absolute; margin-right: 30px; transition: all linear .5s; }
.phiada-shop ul.tabBlock-tabs b { color: var(--accent1); margin-right: 6px; font-weight: 800; }
.pestañas-tabla2 li.tabBlock-tab.is-active b {
    color: var(--text2);
}
.nested-links a:hover { background: var(--accent1); color: var(--text2); }
.pestañas-tabla2 ul.tabBlock-tabs li {
    margin: 10px 0;
    padding: 7px 8px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: right;
    border-radius: 3px;
    background: #4e5163;
    margin-right: 26px;
}
.pestañas-tabla2 li.tabBlock-tab.is-active {
    background: var(--grad2);
    color: var(--charc);
    font-weight: 800;
}
.pestañas-tabla2 ul.tabBlock-tabs {
    width: 245px;
    line-height: 150%;
    font-size: 15px;
}

.pestañas-tabla2 ul li::marker {
    font-weight: bold;
    color: var(--accent2);
}
.pestañas-tabla2 ul li {
    list-style-type: none;
}
.phiada-shop {
    font-family: poppins;
    font-size: 12px;
    margin-top: -30px;
    position: relative;
    left: 12px;
}

.tabla-cuerpo {
  display: flex;
  align-items: stretch;
}

.contenidos-tabla {
    background: var(--bg4);
    padding: 20px;
    padding-left: 40px;
    border-radius: 11px;
    color: var(--text3);
    width: 832px;
}

.pestañas-tabla {
    display: flex;
    background: var(--charc);
    padding: 20px;
    border-radius: 11px;
    color: var(--text2);
    margin: 0;
    margin-right: -20px;
    position: relative;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 252px;
}
.pestañas-tabla .shop-title { display: block; width: 100%; font-size: 50px; color: var(--accent1); margin-top: -10px; margin-bottom: -13px; }

phititle {
  font-family: poppins;
  font-size: 44px;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 6px;
  display: block;
  text-align: center;
}
phititle b {
  display: block;
  font-size: 11px;
  color: var(--accent2);
  margin-top: -3px;
  margin-bottom: 9px;
}
objetito {
    display: flex;
    align-items: center;
    background: var(--bg3);
    border-radius: 5px;
    padding: 11px;
    width: 26.5%;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 40px;
    border: var(--borde1);
}
objetito img {
  width: 42px;
  background: white;
  padding: 3px;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid var(--bg4);
}
obtitle {
    font-weight: 600;
    color: var(--accent3);
    font-size: 12px;
    cursor: help;
    width: 131px;
    line-height: 130%;
    text-align: center;
}
obprecio b {
  background: var(--charc);
  border-radius: 0 0 6px 6px;
  color: var(--text1);
  padding: 3px 6px;
  font-weight: 600;
  font-style: italic;
}
obprecio {
  position: absolute;
  bottom: -22px;
}

obprecio b:nth-of-type(2) {
  color: var(--accent2);
}
obprecio b:nth-of-type(1) {
  color: var(--accent1);
}
obprecio em {
  color: var(--text1);
}
.objetos-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
specialobj {
  background: var(--charc);
  width: 100%;
  border-radius: 11px;
  padding: 10px;
  display: flex;
  align-items: center;
  height: 170px;
  margin-bottom: 10px;
}
obtitle em {
  text-align: justify;
  font-size: 12px;
  font-family: "Poppins";
  color: var(--text3);
  font-weight: 600;
  font-style: normal;
  display: block;
  line-height: 100%;
  width: 180px;
}
objexpli {
  background: var(--bg3);
  padding: 20px;
  width: 551px;
  height: 130px;
  border-radius: 10px;
  margin-left: 20px;
  text-align: justify;
  font-family: Arial;
  font-size: 13px;
  line-height: 150%;
  padding-left: 48px;
}
objexpli span {
  overflow: auto;
  height: 129px;
  display: block;
  padding-right: 10px;
}

specialobj objetito {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  border-radius: 9px;
  height: 148px;
  border-right: 20px solid var(--accent1);
  margin-right: -42px;
}
specialobj obtitle {
  display: block;
  width: 100%;
  text-align: center;
}
specialobj objetito img {
  padding: 13px;
}

specialobj obprecio {
  position: relative;
  bottom: 0;
  margin-top: 10px;
}
.pestañas-tabla2 {
  position: sticky;
  top: 30px;
  width: 100%;
}
shopdest {
  font-family: "Poppins";
  font-weight: 700;
  font-style: italic;
  color: var(--text3);
  background: var(--grad2);
  border-radius: 3px;
  padding: 1px 7px;
}
objexpli span b {
  color: var(--accent4);
  font-family: poppins;
}
.reclamo-desc {
  background: var(--bg1);
  border-radius: 11px;
  padding: 40px 60px;
  text-align: justify;
}
.reclamo-desc em {
  color: var(--accent4);
  font-weight: bold;
}

.reclamo-desc b {
  background: var(--grad1);
  padding: 2px 5px;
  border-radius: 3px;
}

.phi-intro-top {
  background: var(--accent3);
  height: 250px;
  border-radius: 15px;
}
.phi-intro-top-icon {
  height: 150px;
  width: 150px;
  border-radius: 14px;
  background: var(--grad2);
  margin: auto;
  margin-top: -94px;
  border: 7px solid var(--bg1);
  outline: 2px solid var(--accent1);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text2);
  font-size: 67px;
}
.phi-intro-desc {
  text-align: justify;
  background: var(--bg3);
  padding: 40px 160px;
  border-radius: 10px;
  border: 1px solid #c6c6c6;
  margin-top: -4px;
  font-weight: 500;
  font-family: arial;
  line-height: 150%;
  font-size: 13px;
  color: var(--text3);
}

.phi-intro {
  background: var(--charc);
  padding: 7px;
  border-radius: 20px;
}

.phi-intro-top-icon-sidebar {
    height: 100px;
    width: 100px;
    border-radius: 14px;
    background: var(--grad2);
    margin: auto;
    border: 7px solid var(--bg1);
    outline: 2px solid var(--accent1);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text2);
    font-size: 38px;
    margin-top: 67px;
}

ul.tabBlock-tabs li {
  cursor: pointer;
}
.phi-intro-desc phititle b {
    margin-top: 16px;
    color: var(--accent3);
    border-bottom: 1px solid var(--bg4);
    padding-bottom: 22px!important;
    background: transparent!important;
    margin-bottom: 0;
}
.phi-codigos-reclamo-objetos {
  background: var(--bg3);
  margin-top: 20px;
  border-radius: 11px;
  padding: 30px 120px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.phi-codigos-reclamo-objetos phititle {
  font-size: 25px;
  border-bottom: 10px solid var(--accent1);
  display: flex;
  width: auto;
  justify-content: center;
  flex: 0 0 auto;
}

:root {
--borde1: 1px solid #cccccc;
}

/* Otras tablillas */
/* evento tablilla mini */
recoleccionesdiana strong { color: black !important; display: block; width: 100%; border-top: 1px solid var(--bg4); margin-left: -16px; padding-top: 21px; margin-bottom: 19px; } objetorec { margin-right: 10px; } recoleccionesdiana img { width: 46px; max-width: 100%; margin-bottom: 4px; background: var(--bg4); padding: 5px; } recoleccionesdiana { display: flex; flex-wrap: wrap; justify-content: flex-start; width: 299px; padding-left: 17px; } barritaint { display: block; width: 100%; background: linear-gradient(45deg, #d69393, #eeec31cc); height: 100%; } barrita1 { width: 300px; display: block; margin-top: 10px; height: 4px; background: #c3c3c3; } dianabarrita i { font-weight: 600;font-style: normal; }dianabarrita strong { color: black !important; }dianabarrita { border-top: 1px solid var(--bg4); display: block; padding-top: 20px; margin-top: 10px; } .diana-minirol-header span b:before { margin-right: 4px; content: ''; display: inline-block; width: 26px; height: 1px; position: relative; top: -2px; } .diana-minirol-header span b { display: block; font-family: segoe ui; text-transform: uppercase; font-weight: 400; font-size: 9px; letter-spacing: 2px; margin-top: 1px; } .diana-minirol-header span { font-family: 'Barlow'; font-size: 20px; } .diana-minirol-body { width: 380px; font-size: 12px; margin: auto; margin-top: 30px; } img.diana-ima { width: 60px; margin-right: -18px; } .diana-minirol-header { background: #323232; display: flex; align-items: center; justify-content: space-between; padding: 8px 26px; color: var(--text2); } .diana-minirol-content { line-height: 110%;padding: 48px; border: 1px solid var(--bg4); margin-top: 10px; font-family: barlow; font-size: 13px; color: black; }  
dianaskeep b { display: block; font-family: segoe ui; text-transform: uppercase; font-size: 9px; font-weight: lighter; margin-top: 10px; letter-spacing: 2px; } dianaskeep { background: #687dbd; display: block; padding: 20px; font-size: 30px; color: var(--text2); }

/* subforos de usuarios */
.phi-main-subforum-desc .phi-mpost-header { font-size: 41px; }
.phi-main-subforum-desc .phi-mpost-fonticon:before { margin-left: 45px; }
.phi-main-subforum-desc .phi-mpost-fonticon { left: 130px; }
img.imagen-completa, img.imagen-derecha, img.imagen-izquierda { border-radius: 7px; }
img.imagen-izquierda { float: left; margin-right: 25px; margin-bottom: 20px; }
img.imagen-derecha { float: right; margin-left: 25px; margin-bottom: 20px; }
img.imagen-completa { width: 800px; margin-bottom: 20px; }

/* eventos */
dropdesc b { display: block; font-family: 'Poppins'; color: var(--accent3); }
dropevn img { width: 50px; height: 50px; border: 3px solid var(--bg1); border-radius: 6px; margin: 10px; background: var(--bg3); padding: 5px; }
dropevn { display: flex; width: 383px; background: var(--bg4); align-items: center; padding: 20px 10px; border-radius: 9px; margin-bottom: 10px; }
.events-description-drops { display: flex; flex-wrap: wrap; width: 820px; margin: auto; justify-content: space-between; margin-top: 20px; }
dropdesc { text-align: justify; font-size: 12px; font-family: segoe ui; color: var(--text3); }
prticpntsname b:before { color: var(--pmainp-accent2); margin: 0 8px; font-family: "Font Awesome 6 Pro"; content: "\f219"; font-weight: 900; font-size: 9px; margin-right: 11px; }
a.prtiplink { display: flex; align-items: center; background: var(--pmainp-accent1); color: var(--text2); padding: 4px 10px; border-radius: 5px; font-family: 'Poppins'; margin-left: 3px; text-transform: uppercase; font-weight: 600; width: 20%; }
prticpntsname b { font-weight: 400; } 
prticpntsname { background: var(--lightcharc); color: var(--text2); padding: 8px 10px; border-radius: 5px; font-family: 'Poppins'; font-weight: 500; width: 80%; }
participants { display: flex; width: 823px; margin: auto; margin-bottom: -12px; }
.phi-main-post .phi-intro-minititle { width: 764px; margin: auto; position: relative; }
.phi-main-post .phi-intro-minititle { padding-left: 51px; }
.phi-main-post .phi-intro-minititle i {     margin-left: -38px;font-family: 'Font Awesome 6 Sharp'; border: 0; }
.events-description-low i, .phi-mpost-numbered i { border-bottom: 2px solid var(--pmainp-accent3); font-family: 'Poppins'; font-weight: 500; }
.events-description-low b, .phi-mpost-numbered b { background: var(--charc); color: var(--pmainp-accent2); font-family: 'Poppins'; padding: 2px 7px; border-radius: 3px; } 
.events-description-low strong, .phi-mpost-numbered strong { font-family: 'Poppins'; color: var(--pmainp-accent1); }
.events-description-low, .phi-mpost-numbered { width: 800px; margin: auto; font-size: 13px; color: var(--text3); }
.phi-mpost-numbered li::marker { color: var(--pmainp-accent2); font-family: poppins; font-weight: 800; font-size: 20px; }
.phi-mpost-gral-info span i { color: var(--pmainp-accent2); } .phi-mpost-gral-info span strong { color: var(--pmainp-accent3); }
.phi-mpost-gral-info span i, .phi-mpost-gral-info span strong { font-family: 'Poppins'; }

.phi-mpost-full-desc { background: var(--bg3); border-radius: 20px; margin-top: 41px; position: relative; z-index: 9; padding: 30px; color: var(--text); }
.phi-mpost-gral-info span::-webkit-scrollbar-thumb { background: linear-gradient(61deg, var(--pmainp-accent2), var(--pmainp-accent3));}
.phi-mpost-fonticon i { background: var(--lightcharc); }
.phi-mpost-fonticon:before { content: ''; width: 1px; height: 180px; background: var(--charc2); display: block; position: absolute; margin-left: 36px; margin-top: -27px; }
.phi-mpost-fonticon .fa-duotone:after { opacity: 1; }
.phi-main-post div { box-sizing: content-box; }
.phi-mpost-gral-title strong { color: var(--text2); } 
.phi-mpost-gral-title { margin: 0 32px; font-family: 'Poppins'; text-transform: uppercase; color: var(--pmainp-accent1); font-weight: 600; font-size: 19px; margin-bottom: 19px; margin-top: 23px; width: 709px; margin-left: 350px; }
.phi-mpost-gral-info span { display: block; width: 710px; margin: auto; font-family: segoe ui; font-size: 14px; line-height: 160%; overflow: auto; padding-right: 13px; margin-left: 351px; height: 197px; }
.phi-main-post { background: #dedede; width: 1175px; margin-left: -16px; border-radius: 10px; position: relative; margin-top: -12px; margin-bottom: -18px; overflow: hidden; line-height: 130%; }
.phi-mpost-sidebar { background: var(--charc); width: 250px; position: absolute; top: 0; left: 50px; height: 450px; border-radius: 0 0 150px 150px; display: flex; color: var(--text1); flex-direction: column; align-items: center; justify-content: flex-end; z-index: 5; }
img.phi-mpost-icon { border-radius: 100%; width: 232px; margin-bottom: 10px; }
.phi-mpost-sidebar-info { height: 177px; width: 200px; display: flex; flex-direction: column; font-family: 'Emilea'; font-size: 20px; color: var(--text2); text-transform: uppercase; }
sdbrinfo2:before { content: 'Autor'; display: block; font-family: 'Poppins'; color: var(--charc2); font-weight: 800; font-size: 11px; letter-spacing: 2px; margin-top: 10px; margin-bottom: 5px; }
sdbrinfo2 { color: #81b5ff; letter-spacing: 0; font-size: 22px; font-weight: bold; }
sdbrinfo1 { font-size: 11px; letter-spacing: 3px; }
sdbrinfo1:before { content: 'Publicado el'; display: block; font-family: 'Poppins'; color: var(--charc2); font-weight: 800; font-size: 11px; letter-spacing: 2px; margin-bottom: -1px; margin-top: 10px; }
.phi-mpost-header { color: var(--text2); background: linear-gradient(45deg, var(--pmainp-accent3), var(--pmainp-accent2)); height: 235px; padding-left: 380px; display: flex; flex-direction: column; justify-content: center; font-family: 'Emilea'; font-size: 59px; text-transform: uppercase; text-shadow: 0 0 2px var(--charc); align-items: flex-start; border-radius: 0 0 20px 20px; position: relative; z-index: 2; }
.phi-mpost-subtitle { font-family: 'Poppins'; font-size: 10px; border-radius: 6px; margin-top: 28px; margin-bottom: -25px; letter-spacing: 1px; display: flex; align-items: center; }
.phi-mpost-subtitle span { background: var(--charc); padding: 10px 15px; border-radius: 7px; }
.phi-mpost-subtitle i { background: var(--charc); width: 38px; border-radius: 7px; height: 38px; margin-left: 10px; display: flex; align-items: center; justify-content: center; font-size: 23px; }
.phi-mpost-subtitle strong { color: var(--pmainp-accent3); }
.phi-mpost-gral-info { background: var(--lightcharc); padding: 30px; color: var(--text1); text-align: justify; padding-top: 80px; margin-top: -41px; }
.phi-mpost-fonticon { position: absolute; font-size: 71px; z-index: 9; top: 476px; color: var(--text1); left: 136px; background: var(--lightcharc); }
